.footer-container {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ededed;

  .social-icon {
    margin-top: 20px;

    img {
      height: 2rem;
      margin: 10px 30px;
      transition: all 0.2s ease-in;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(171deg) brightness(100%) contrast(96%);
      
      &:hover {
        filter: invert(50%) sepia(100%) saturate(300%) hue-rotate(171deg) brightness(100%) contrast(96%);
      }
    }
  }

  p {
    margin-top: 10px;
  }
}